<strong>Hi, {{courierName}}</strong>
<p>There is a new package to be devilired.</p>
<p>
  <strong>Package Info:</strong>
  <p>
    Package Number: #{{packageNumber}}
    Client: {{recipientName}} <br>
    Zipcode: {{recipientZipcode}}<br>
    State: {{recipientState}}<br>
    City: {{recipientCity}}<br>
    Street: {{recipientStreet}}<br>
    Number: {{recipientNumber}}<br>
  </p>
</p>
